<nav class="flex flex-wrap justify-center gap-6 md:gap-10 text-[#5c5ce0] text-lg md:text-xl font-semibold py-12 px-4">
  <a routerLink="/home" routerLinkActive="underline" class="hover:underline decoration-2 underline-offset-8">Accueil</a>
  <a routerLink="/competences" routerLinkActive="underline" class="hover:underline decoration-2 underline-offset-8">Compétences</a>
  <a routerLink="/projets" routerLinkActive="underline" class="hover:underline decoration-2 underline-offset-8">Projets</a>
</nav>